
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.example.studoc_clone.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/Studdoc"
            />
        <activity
            android:name="com.example.studoc_clone.ui.SettingsHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/Studdoc"
            />
        <activity
            android:name="com.example.studoc_clone.ui.ProfileHome"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/Studdoc"
            />
        <activity
            android:name="com.example.studoc_clone.utils.DocumentViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/Studdoc"
            />
        <activity
            android:name="com.example.studoc_clone.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/Studdoc"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>
